<div class="container">

  <div class="user-info">

    <div class="info">
      <h1 class="wlcm-txt">Welcome dear Admin: <%= currentUser.name %></h1>
      <p>Your inserted info is as below:</p>
      <hr>
      <p class="user-details">Username: <span><%= currentUser.username %></span></p>
      <p class="user-details">Name: <span><%= currentUser.name %></span></p>
      <p class="user-details">Last Name: <span><%= currentUser.lastName %></span></p>
      <p class="user-details">Email: <span><%= currentUser.email %></span></p>
      <a href="/user/update" class="btn-link">Update Info</a>
      <a href="/logout" class="btn-link">Log Out</a>
      <form action="/user/delete?_method=DELETE" method="POST">
        <button class="btn-link delete">Delete Account</button>
      </form>
      
    </div>
    <div class="pic">
      <img src="./user.png" alt="user illustration">
    </div>

  </div>

  <div class="all-users-info">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>NO</th>
            <th>User Name</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% var num = 1; %> 
          <% allUsers.forEach(function (current) { %>
            <% if (current.username !== 'admin') { %> 
              <tr id="<%= current.username %> ">
                <td><%= num %> </td>
                <td><%= current.username %> </td>
                <td><%= current.name %> </td>
                <td><%= current.lastName %> </td>
                <td><%= current.email %> </td>
                <td>
                  <form action="/user/<%= current._id %>/delete?_method=DELETE" method="POST">
                    <button class="btn-link delete deleteAdmin">Delete Account</button>
                  </form>
                </td>
              </tr>
              <% num++; %>
            <% } %>  
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>

</div>
